non_share/
ise/_xmsgs/
ise/iseconfig/
ise/*.gise
ise/*.xwbt
ise/*.ncd
cores/_xmsgs/
cores/clk_200_33_66/
cores/tmp
cores/xlnx_auto_0_xdb
cores/.lso
cores/*.pdf
cores/*.txt
cores/*.gise
cores/*.mif
cores/*.ngc
cores/*.vhd
cores/*.vho
cores/*.xise
cores/*.tcl
cores/*.ejp
cores/*.ncf
cores/*.cgc
cores/*.log
